.holder {
    display:grid;
    margin-left: 30%;
    border-radius: 20px 20px 0px 0px;
    width: 510px;
    height: 100px;
}

.items_1{
    border-radius: 20px 0px 0px 0px;
    background-color: tomato;
    width: 255px;
    height: 50px;
    order: 0;
    text-align: center;
}
.items_2{
    background-color: orange;
    width: 250px;
    height: 48px;
    text-align: center;
    margin-left: 50%;
    order: 2;
    margin-top: -9.7%;
}
.items_3{
    margin-top: -5px;
    background-color: blueviolet;
    width: 170px;
    height: 49px;
    order: 1;
    text-align: center;

}
.items_4 {
    margin-left: 33.3%;
    margin-top:-50px;
    background-color: blue;
    width: 170px;
    height: 48px;
    order: 2;
    text-align: center;
}
.items_5{
    margin-left: 50%;
    margin-top: -50px;
    width: 250px;
    border-radius: 0px 20px 0px 0px;
    order: 0;
    background-color: green;
    height: 55px;
    text-align: center;
}